.policemenu1 {
  font-family: "Devonshire", cursive;
  font-size: 3em;
  font-weight: normal;
  color: #3c1218;
}

.policemenu11 {
  font-style: italic;
  font-size: 3em;
  color: #3c1218;
}

.policemenu2 {
  font-family: "Gabriela", serif;
  font-size: 2em;
}

.policemenu21 {
  font-size: 3em;
  font-weight: bold;
}

.policemenu3 {
  font-family: "Allura", cursive;
  font-size: 3em;
}

.policemenu31 {
  font-family: "Bree Serif", cursive;
  font-size: 3em;
}

.policenom {
  font-family: "Devonshire", cursive;
  font-size: 1.3em;
  font-weight: 550;
}

.default {
  font-size: 1.2em;
}

.policethirdmenu {
  font-family: "Maitree", serif;
  font-weight: bold;
}

.policelastmenu {
  font-family: "Rubik", sans-serif;
}

.none {
  color: black;
}

.bg-green {
  background-color: #579c87;
}

.color-yellow {
  color: #fdcb46;
}

.color-purple {
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-blue {
  background: linear-gradient(to right, #2e37d8, #8dc7e4);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-green {
  background: linear-gradient(90deg, #42973c 2%, #62b24e 8%, #d1f0c0 16%, #79c45c 30%, #c3eda9 46%, #94db68 63%, #bdf392 75%, #bfff7e 91%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-gold {
  background: linear-gradient(to right, #df871e, #8f5bfe);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.violet {
  color: #a56799;
}

.blue {
  color: #6e4ccc;
}

.blue0 {
  color: #0228dd;
}

.blue1 {
  color: #0670f3;
}

.blue2 {
  color: #229df9;
}

.pink {
  color: #a56799;
}

.bg-firstmenu {
  background-color: #fcdfdb;
}

.bg-secondmenu {
  background-color: #fff5fe;
}

.bg-thirdmenu {
  background-color: #edefef;
}

.bg-lastmenu {
  background-color: #fdfffd;
}

.gold {
  color: #c77412;
}

.purple {
  color: #3c1218;
}

.green {
  color: #579c87;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 60px;
  font-size: 2em;
  font-weight: bold;
  color: #fdcb46;
  background-color: #579c87;
  border: 1px solid #579c87;
  border-radius: 15px;
  margin: 40px 0px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton::after {
  display: inline-block;
  animation: point 3s 2s both 5;
  content: "";
}

.bar::before {
  content: url(../images/barpurple.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar:after {
  content: url(../images/barpurple.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: rotate(180deg);
}

.bar-1::before {
  content: url(../images/bar.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-1:after {
  content: url(../images/bar.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: rotate(180deg);
}

.bar-2::before {
  content: url(../images/bar1.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-2:after {
  content: url(../images/bar1.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: rotate(180deg);
}

.bar-3::before {
  content: url(../images/bar2.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-3:after {
  content: url(../images/bar2.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: rotate(180deg);
}

.bar-4::before {
  content: url(../images/bar3.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-4:after {
  content: url(../images/bar3.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: scaleX(-1);
}

.bar-5::before {
  content: url(../images/bar4.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-5:after {
  content: url(../images/bar4.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: scaleX(-1);
}

.bar-6::before {
  content: url(../images/bar5.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-6:after {
  content: url(../images/bar5.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: scaleX(-1);
}

.bar-7::before {
  content: url(../images/bar6.jpg);
  display: inline-block;
  margin: 0px 30px;
}
.bar-7:after {
  content: url(../images/bar6.jpg);
  display: inline-block;
  margin: 0px 30px;
  transform: scaleX(-1);
}

.none {
  color: black;
}

.bg-green {
  background-color: #579c87;
}

.color-yellow {
  color: #fdcb46;
}

.color-purple {
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-blue {
  background: linear-gradient(to right, #2e37d8, #8dc7e4);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-green {
  background: linear-gradient(90deg, #42973c 2%, #62b24e 8%, #d1f0c0 16%, #79c45c 30%, #c3eda9 46%, #94db68 63%, #bdf392 75%, #bfff7e 91%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-gold {
  background: linear-gradient(to right, #df871e, #8f5bfe);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.violet {
  color: #a56799;
}

.blue {
  color: #6e4ccc;
}

.blue0 {
  color: #0228dd;
}

.blue1 {
  color: #0670f3;
}

.blue2 {
  color: #229df9;
}

.pink {
  color: #a56799;
}

.bg-firstmenu {
  background-color: #fcdfdb;
}

.bg-secondmenu {
  background-color: #fff5fe;
}

.bg-thirdmenu {
  background-color: #edefef;
}

.bg-lastmenu {
  background-color: #fdfffd;
}

.gold {
  color: #c77412;
}

.purple {
  color: #3c1218;
}

.green {
  color: #579c87;
}

footer {
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  background-color: #579c87;
  color: #fdcb46;
  padding: 0px 20px;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(4deg);
  }
  5% {
    transform: rotate(0deg);
  }
  6% {
    transform: rotate(-4deg);
  }
  7% {
    transform: rotate(4deg);
  }
  8% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(-4deg);
  }
  10% {
    transform: rotate(4deg);
  }
  11% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes point {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "...";
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
body {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.589) 2px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.underline:hover {
  background-size: 100% 100%;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

h5 {
  animation: wiggle 3s 1s 2;
}

.none {
  color: black;
}

.bg-green {
  background-color: #579c87;
}

.color-yellow {
  color: #fdcb46;
}

.color-purple {
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-blue {
  background: linear-gradient(to right, #2e37d8, #8dc7e4);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-green {
  background: linear-gradient(90deg, #42973c 2%, #62b24e 8%, #d1f0c0 16%, #79c45c 30%, #c3eda9 46%, #94db68 63%, #bdf392 75%, #bfff7e 91%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-gold {
  background: linear-gradient(to right, #df871e, #8f5bfe);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.violet {
  color: #a56799;
}

.blue {
  color: #6e4ccc;
}

.blue0 {
  color: #0228dd;
}

.blue1 {
  color: #0670f3;
}

.blue2 {
  color: #229df9;
}

.pink {
  color: #a56799;
}

.bg-firstmenu {
  background-color: #fcdfdb;
}

.bg-secondmenu {
  background-color: #fff5fe;
}

.bg-thirdmenu {
  background-color: #edefef;
}

.bg-lastmenu {
  background-color: #fdfffd;
}

.gold {
  color: #c77412;
}

.purple {
  color: #3c1218;
}

.green {
  color: #579c87;
}

header {
  background-color: #579c87;
  color: #fdcb46;
  font-size: 2em;
  text-align: center;
}

.none {
  color: black;
}

.bg-green {
  background-color: #579c87;
}

.color-yellow {
  color: #fdcb46;
}

.color-purple {
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-blue {
  background: linear-gradient(to right, #2e37d8, #8dc7e4);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-green {
  background: linear-gradient(90deg, #42973c 2%, #62b24e 8%, #d1f0c0 16%, #79c45c 30%, #c3eda9 46%, #94db68 63%, #bdf392 75%, #bfff7e 91%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-gold {
  background: linear-gradient(to right, #df871e, #8f5bfe);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.violet {
  color: #a56799;
}

.blue {
  color: #6e4ccc;
}

.blue0 {
  color: #0228dd;
}

.blue1 {
  color: #0670f3;
}

.blue2 {
  color: #229df9;
}

.pink {
  color: #a56799;
}

.bg-firstmenu {
  background-color: #fcdfdb;
}

.bg-secondmenu {
  background-color: #fff5fe;
}

.bg-thirdmenu {
  background-color: #edefef;
}

.bg-lastmenu {
  background-color: #fdfffd;
}

.gold {
  color: #c77412;
}

.purple {
  color: #3c1218;
}

.green {
  color: #579c87;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(4deg);
  }
  5% {
    transform: rotate(0deg);
  }
  6% {
    transform: rotate(-4deg);
  }
  7% {
    transform: rotate(4deg);
  }
  8% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(-4deg);
  }
  10% {
    transform: rotate(4deg);
  }
  11% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes point {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "...";
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.menu {
  width: 500px;
  height: 600px;
  box-shadow: 0px 0px 20px 10px #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.menu i, .menu h3 {
  animation: zoom 3s;
}

.menu1 {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px 20px #f1f1f1;
  margin: 30px 0px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.titlemenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.titlebottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.entree {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.plat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.desert {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.prix {
  display: flex;
  align-items: center;
  justify-content: center;
}

.none {
  color: black;
}

.bg-green {
  background-color: #579c87;
}

.color-yellow {
  color: #fdcb46;
}

.color-purple {
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-blue {
  background: linear-gradient(to right, #2e37d8, #8dc7e4);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-green {
  background: linear-gradient(90deg, #42973c 2%, #62b24e 8%, #d1f0c0 16%, #79c45c 30%, #c3eda9 46%, #94db68 63%, #bdf392 75%, #bfff7e 91%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-gold {
  background: linear-gradient(to right, #df871e, #8f5bfe);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.violet {
  color: #a56799;
}

.blue {
  color: #6e4ccc;
}

.blue0 {
  color: #0228dd;
}

.blue1 {
  color: #0670f3;
}

.blue2 {
  color: #229df9;
}

.pink {
  color: #a56799;
}

.bg-firstmenu {
  background-color: #fcdfdb;
}

.bg-secondmenu {
  background-color: #fff5fe;
}

.bg-thirdmenu {
  background-color: #edefef;
}

.bg-lastmenu {
  background-color: #fdfffd;
}

.gold {
  color: #c77412;
}

.purple {
  color: #3c1218;
}

.green {
  color: #579c87;
}

.none {
  color: black;
}

.bg-green {
  background-color: #579c87;
}

.color-yellow {
  color: #fdcb46;
}

.color-purple {
  background: linear-gradient(to right, #f04c5f, #f6916a);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-blue {
  background: linear-gradient(to right, #2e37d8, #8dc7e4);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-green {
  background: linear-gradient(90deg, #42973c 2%, #62b24e 8%, #d1f0c0 16%, #79c45c 30%, #c3eda9 46%, #94db68 63%, #bdf392 75%, #bfff7e 91%);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.color-gold {
  background: linear-gradient(to right, #df871e, #8f5bfe);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.violet {
  color: #a56799;
}

.blue {
  color: #6e4ccc;
}

.blue0 {
  color: #0228dd;
}

.blue1 {
  color: #0670f3;
}

.blue2 {
  color: #229df9;
}

.pink {
  color: #a56799;
}

.bg-firstmenu {
  background-color: #fcdfdb;
}

.bg-secondmenu {
  background-color: #fff5fe;
}

.bg-thirdmenu {
  background-color: #edefef;
}

.bg-lastmenu {
  background-color: #fdfffd;
}

.gold {
  color: #c77412;
}

.purple {
  color: #3c1218;
}

.green {
  color: #579c87;
}

.m-auto {
  margin: auto;
}

.ml {
  margin-left: 3.33%;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 35px;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 100px 0px;
}

.py-2 {
  padding: 10px 0px;
}

.py-3 {
  padding: 20px 0px;
}

.pb-1 {
  padding-bottom: 100px;
}

@media all and (max-width: 768px) {
  .bar::before, .bar::after, .bar-1::before, .bar-1::after, .bar-2::before, .bar-2::after, .bar-3::before, .bar-3::after, .bar-4::before, .bar-4::after, .bar-5::before, .bar-5::after, .bar-6::before, .bar-6::after, .bar-7::before, .bar-7::after {
    display: none;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .menu {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 320px) {
  .menu h3, .menu1 h3 {
    text-align: center;
  }
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(4deg);
  }
  5% {
    transform: rotate(0deg);
  }
  6% {
    transform: rotate(-4deg);
  }
  7% {
    transform: rotate(4deg);
  }
  8% {
    transform: rotate(0deg);
  }
  9% {
    transform: rotate(-4deg);
  }
  10% {
    transform: rotate(4deg);
  }
  11% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes point {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "...";
  }
}
@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
