@import "../utils/variables";
@import "../utils/color"; 
 

header{  
    width: 100%;
    margin: auto;
    padding:0px 15px; 
    background-color: $bg-green; 
    color:$color-yellow;
    font-size: 2em;
    text-align: center;
}