@keyframes wiggle
{
   0%
   {
       transform: rotate(0deg);
   } 
   3%
   {
       transform: rotate(-4deg);
   }
   4%
   {
       transform: rotate(4deg);
   }
   5%
   {
       transform: rotate(0deg);
   }
   6%
   {
       transform: rotate(-4deg);
   }
   7%
   {
       transform: rotate(4deg);
   }
   8%
   {
       transform: rotate(0deg);
   }
   9%
   {
       transform: rotate(-4deg);
   }
   10%
   {
       transform: rotate(4deg);
   }
   11%
   {
       transform: rotate(0deg);
   }
   100%
   {
       transform: rotate(0deg);
   }
}
@keyframes point
{
    0%
    {
       content: '';
    }
    25%
    {
        content: '.';
    }
    50%
    {
        content: '..';
    }
    75%
    {
        content: '...';
    }
    100%
    {
        content: '...';
    }
}
@keyframes zoom
{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%
    {
        transform: scale(1.5);
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}
