$bg-green: #579c87;
$bg-white:#f1f1f1;
$color-yellow:#fdcb46;
$bg-firstmenu:#fcdfdb;
$bg-secondmenu:#fff5fe;
$bg-thirdmenu:#edefef;
$bg-lastmenu:#fdfffd;
$gold:#c77412;
$purple:#3c1218;
$pink:#a56799;
$blue:#6e4ccc;
$green: #579c87;
$violet:#a56799;